/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #111111;
}
/* HEADER */
header{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: space-between;
    padding: 3px 0px;
    width: 100%;
}
.header-left, .header-right{
    display: flex;
}
.secure, .recording, .viewmode{
    background-color: #0a0b0b;
    padding: 5px;
    margin: 0px 5px;
    border-radius: 10px;
}
.status, .viewmode-name{
    margin: 0px 5px;
}
/* CONTAINER-CAMS */
.container-cams{
    margin: 0 auto;
    display: flex;
    margin-top: 5vh;
    width: 90%;
    flex-flow: row wrap;
    gap: 15px;
}
/* CAM */
.cam{
    position: relative;
    top: 0;
    left: 0;
    min-width: 500px;
    min-height: 280px;
    border-radius: 10px;
}
.hud{
    color: white;
    display: inline-block;
    background-color: #111111;
    padding: 5px 10px;
    border-radius: 10px;
    position: absolute;
    bottom: 5px;
    left: 2px;
}
.name{
    margin-left: 10px;
}
.user{
    background-repeat: no-repeat;
    background-size: cover;
}
.supermirko{
    background-image: url(../img/user1.png);
}
.supergiorgio{
    background-image: url(../img/user2.png);
}
.harambess{
    background-image: url(../img/user3.png);
}
.superevilmaria{
    background-image: url(../img/user4.png);
}
.supertialzolamano{
    background-image: url(../img/user5.png);
}
.supergamingtryhard{
    background-image: url(../img/user6.png);
}
/* COLORS */
.green{
    color: #20d959;
}
.grey{
    color: #a8a8a8;
}
.lightgrey{
    color: #cfcfcf;
}
.red{
    color: #cd2c2c;
}
/* FONTAWESOME */
.fa-pause, .fa-stop{
    margin: 0px 3px;
}